.root {
    -red: #f44336;
    -green: #45d151;
    -blue: #0093ff;
    -light_blue: #4fb4ff50;
}

/* ------------------------------------------------------------------------------------ Global ---------------------------------------------------------------------------------- */

.label{
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.check-box{
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}

.menu .label{
    -fx-font-size: 10pt;
}

.menu-item .label {
    -fx-font-size: 10pt;
}

.list-view{
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.list-view .list-cell:filled:hover {
    -fx-background-color: -light_blue;
}

.list-cell{
    -fx-padding: 4px 0px 4px 0px;
    -fx-background-color: transparent;
}

/* ------------------------------------------------------------------------------------ BUTTON ---------------------------------------------------------------------------------- */

.button{
    -fx-background-color: -blue;
    -fx-font-size: 9pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, #00000080, 6, 0, 0, 0);
}

.button:hover{
    -fx-cursor: hand;
    -fx-effect: dropshadow(three-pass-box, #000000, 10, 0, 0, 0);
}

.button:pressed{
    -fx-background-color: blue;
}

.image_button{
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-min-width: 24px;
}

.image_button:pressed{
    -fx-background-color: transparent;
    -fx-effect: dropshadow(three-pass-box, white, 10, 0, 0, 0);
}

.folder_button{
    -fx-background-image: url('/icons/round_folder_black_24dp.png');
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.folder_button:pressed{
    -fx-background-color: transparent;
}

.text-field{
    -fx-background-color: #737373;
    -fx-text-fill: white;
    -fx-font-size: 10pt;
}

.invalid_input{
    -fx-background-color: #d1454580;
}

/* T R B L */

/* ---------------------------------------------------------------------------------- TABLE VIEW -------------------------------------------------------------------------------- */

.table-view{
    -fx-background-color: transparent;
}

.table-view .filler{
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}

.table-view .table-row-cell{
    -fx-background-color: transparent;
    -fx-table-cell-border-color: #FFFFFF20;
}

.table-view .table-row-cell:even{
    -fx-background-color: #4a4a4a80;
}

.table-view .column-header{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: transparent;
}

.table-view .column-header .arrow {
    -fx-background-color: white;
}

/* --------------------------------------------------------------------------------- Main Layout -------------------------------------------------------------------------------- */

#left_pane{
    -fx-background-color: #404040;
}

#module_list_view{
    -fx-padding: 8px 0px 8px 0px;
    -fx-focus-traversable: false;
}

#module_list_view .list-cell:filled {
    -fx-padding: 4px 8px 4px 8px;
}

#module_list_view .list-cell:filled:selected {
    -fx-background-color: -blue;
}

#container{
    -fx-background-color: #575757;
}

/* ------------------------------------------------------------------------------- Mini Dashboard ------------------------------------------------------------------------------- */

.start_button{
    -fx-background-color: -green;
}

.stop_button{
    -fx-background-color: -red;
}

/* ----------------------------------------------------------------------------------- Players ---------------------------------------------------------------------------------- */



/* ----------------------------------------------------------------------------------- Console ---------------------------------------------------------------------------------- */

#console{
    -fx-font-family: Consolas;
    -fx-highlight-fill: #e6e6e6;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: white;
    -fx-background-color: #171717;
    -fx-focus-color: transparent;
    -fx-border-style: none;
    -fx-background-radius: 0.0px;
    -fx-focus-traversable: false;
}

#console .content{
    -fx-background-color: #171717;
    -fx-background-radius: 0.0px;
    -fx-border-radius: 0.0px;
}

#console_input{
    -fx-font-family: Consolas;
    -fx-font-size: 12pt;
    -fx-background-color: #525252;
    -fx-border-style: none;
    -fx-text-fill: white;
    -fx-background-radius: 0.0px;
    -fx-focus-color: transparent;
}

#console_input .content{

}

/* --------------------------------------------------------------------------------- Configuration ------------------------------------------------------------------------------ */

#server_properties_table_view{
    -fx-background-color: transparent;
}

#server_properties_table_view .filler{
    -fx-background-color: transparent;
}

.server_properties_table_view .table-cell{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}

#server_properties_table_view .table-row-cell{
    -fx-background-color: transparent;
    -fx-table-cell-border-color: #FFFFFF20;
}

#server_properties_table_view .table-row-cell:even{
    -fx-background-color: #4a4a4a80;
}

#server_properties_table_view .column-header{
    -fx-background-color: transparent;
}

#server_properties_table_view .column-header-background{
    -fx-background-color: transparent;
}

#server_properties_table_view .column-header .arrow {
    -fx-background-color: white;
}

/* ---------------------------------------------------------------------------------- Permissions ------------------------------------------------------------------------------- */

#roles_list_view .list-cell:filled:selected {
    -fx-background-color: -blue;
}