.label{
    -fx-font-size: 12pt;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

.check-box{
    -fx-font-size: 12pt;
    -fx-text-fill: white;
}

.menu .label{
    -fx-font-size: 10pt;
}

.menu-item .label {
    -fx-font-size: 10pt;
}

.list-view{
    -fx-padding: 0px;
    -fx-background-color: transparent;
}

.list-cell{
    -fx-padding: 4px 0px 4px 0px;
    -fx-background-color: transparent;
}

.button{
    -fx-background-color: purple;
    -fx-font-size: 11pt;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button:pressed{
    -fx-background-color: blue;
}

/* T R B L */

/* --------------------------------------------------------------------------------- Main Layout -------------------------------------------------------------------------------- */

#left_pane{
    -fx-background-color: #404040;
}

#module_list_view{
    -fx-padding: 8px 0px 0px 0px;
    -fx-focus-traversable: false;
}

#module_list_view .list-cell:filled {
    -fx-padding: 4px 8px 4px 8px;
}

#module_list_view .list-cell:filled:hover {
    -fx-background-color: #4fb4ff;
}

#module_list_view .list-cell:filled:selected {
    -fx-background-color: #0093ff;
}

#container{
    -fx-background-color: #575757;
}

/* ---------------------------------------------------------------------------------- Dashboard --------------------------------------------------------------------------------- */

#players_list{
    -fx-padding: 0px 5px 5px 5px;
    -fx-focus-traversable: false;
}

/* ----------------------------------------------------------------------------------- Players- --------------------------------------------------------------------------------- */

#players_table_view{
    -fx-background-color: transparent;
}

#players_table_view .filler{
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: white;
    -fx-font-size: 12pt;
}

#players_table_view .table-row-cell{
    -fx-background-color: transparent;
    -fx-table-cell-border-color: #FFFFFF20;
}

#players_table_view .table-row-cell:even{
    -fx-background-color: #4a4a4a80;
}

#players_table_view .column-header{
    -fx-background-color: transparent;
}

#players_table_view .column-header-background{
    -fx-background-color: transparent;
}

#players_table_view .column-header .arrow {
    -fx-background-color: white;
}

/* ----------------------------------------------------------------------------------- misc- --------------------------------------------------------------------------------- */

#console{
    -fx-font-family: Consolas;
    -fx-highlight-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: white;
    -fx-background-color: #000000;
    -fx-focus-color: transparent;
    -fx-border-style: none;
    -fx-background-radius: 0.0px;
    -fx-focus-traversable: false;
}

#console .content{
    -fx-background-color: black;
    -fx-background-radius: 0.0px;
    -fx-border-radius: 0.0px;
}

#console_input{
    -fx-font-family: Consolas;
    -fx-background-color: #525252;
    -fx-border-style: none;
    -fx-text-fill: white;
    -fx-background-radius: 0.0px;
    -fx-focus-color: transparent;
}

#console_input .content{

}